@import './airbnb-cereal-font';

$font-size: (
  'h1': 3.125rem,
  'h2': 2.25rem,
  'h3': 1.125rem,
  'body-lg': 1rem,
  'body': 0.9rem,
  'body-sm': 0.7rem,
);

$font-weight: (
  'light': 300,
  'book': 400,
  'medium': 500,
  'bold': 600,
  'extra-bold': 700,
);

@mixin text_style($size, $weight) {
  font-size: map-get($map: $font-size, $key: $size);
  font-weight: map-get($map: $font-weight, $key: $weight);
}

/**
* Defining text elements base styling
**/
h1 {
  @include text_style('h1', 'extra-bold');
  line-height: 112%;
  margin-bottom: 1.5rem;
}

h2 {
  @include text_style('h2', 'extra-bold');
  line-height: 112%;
  margin-bottom: 1rem;
}

h3 {
  @include text_style('h3', 'bold');
  margin-bottom: 1rem;
}

p,
.body {
  @include text_style('body', 'book');
  margin-bottom: 0.5rem;
}

.body-lg {
  @include text_style('body-lg', 'book');
  margin-bottom: 0.5rem;
}

.body-sm {
  @include text_style('body-sm', 'light');
  margin-bottom: 0.5rem;
}
