$card-shadow-light: 0 2px 6px 0 #bdbdbd;
$card-shadow-dark: 0 2px 4px 0 rgba(#131313, 0.6);

// button effects
$btn-light-shadow: 0 2px 4px 0 rgba(#575656, 0.2);
$btn-light-border: 1px solid rgba(#bdbdbd, 0.3);
