@import '../../../styles/index';

.container {
  margin-bottom: 8rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  a,
  p {
    @include text_style('body-lg', 'medium');

    text-decoration: none;
    color: $rich-black;

    &:hover {
      color: $success;
    }
  }
}
