---

---

<button class="back_top" id="btn-back-to-top">
    <span class="text">Back to top</span>
    <span class="arrow">⬆️</span>
</button>

<script>
    document
        .getElementById("btn-back-to-top")
        ?.addEventListener("click", () => {
            window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
        });
</script>

<style lang="scss">
    @use "../../../styles" as *;

    .back_top {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        border: none;
        font-size: 1rem;
        background: none;
        cursor: pointer;
        margin-left: auto;
        outline: none;
        overflow: hidden;

        span {
            transition:
                opacity 0.5s ease-out,
                transform 0.3s ease-out;
        }

        span.text {
            @include text_style("body", "light");
            margin-right: 0.5rem;
            opacity: 0;
            transform: translateY(25px);
        }

        span.arrow {
            font-size: 1.5rem;
        }

        &:hover span.text {
            opacity: 1;
            transform: translateY(0);
        }

        @media (max-width: $mq-phone) {
            margin-left: 0;
            margin-top: 2rem;

            span.text {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @media (prefers-color-scheme: dark) {
            color: $pearl-white;
        }
    }
</style>
