@import '../../../styles/index';

.header {
  text-align: center;
  background: $pearl-white;
  background: $accent;
  padding: var(--padding-y-section) 0;

  * {
    margin-left: auto;
    margin-right: auto;
  }
}
