@import '../../../styles/index';

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.section {
  padding: var(--padding-y-section) var(--padding-x-body);

  * {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }

  h2:not(:first-child) {
    margin-top: 2.5rem;
  }

  p {
    @include text_style('h3', 'book');

    @media (max-width: $mq-phone) {
      @include text_style('body-lg', 'book');
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 700px;
    padding: 1.5rem 0;
    object-fit: contain;
  }

  pre {
    border-radius: 5px !important;
    box-shadow: $card-shadow-dark;
  }

  code {
    font-family: 'Fira Code', monospace;
  }
}
