// @import '../../../styles/index';

.section {
  display: flex;
  background: var(--pearl-white);

  @media (prefers-color-scheme: dark) {
    background: var(--pure-black);
  }

  img {
    width: 30%;
    max-height: 600px;
    object-fit: cover;
    transition: width 0.2s ease-out;

    @media (max-width: 900px) {
      width: 20%;
    }

    @media (max-width: var(--tablet)) {
      display: none;
    }
  }

  .tools_container {
    padding: 6rem var(--padding-x-body) 6rem 6rem;

    @media (max-width: var(--tablet)) {
      padding: 6rem var(--padding-x-body);
    }

    header {
      margin-bottom: 4.5rem;
    }

    .tools_table {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: var(--tablet)) {
        flex-direction: column;

        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            margin-right: 0.25rem;
            &::after {
              content: ',';
            }
          }

          li:last-child {
            margin-bottom: 2rem;
            &::after {
              content: '.';
            }
          }

          .column_title {
            width: 100%;
            margin-bottom: 0.5rem;
            // @include text_style('h3', 'medium');
          }
        }
      }

      .column_title {
        display: inline-block;
        position: relative;
        margin-bottom: 1rem;
        // @include text_style('body-lg', 'medium');
      }

      .column_title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--rich-black);
      }

      li {
        list-style: none;
        // @include text_style('body', 'book');
      }
    }
  }
}
