@import '../../../styles/index';

.container {
  margin-bottom: 4rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  a,
  p {
    @include text_style('body-lg', 'regular');
    width: auto;
    margin: 0;
    display: inline-block;

    text-decoration: none;
    color: $rich-black;

    &:hover {
      color: $success;
    }

    @media (prefers-color-scheme: dark) {
      color: $pearl-white;
    }
  }

  a {
    @include link_hover(-0, $success);
  }
}
