$primary: #073b4c;
$accent: #ffd166;
$success: #06d6a0;
$info: #15ade0;
$error: #ef476f;
$rich-black: #1c1d25;
$pure-black: #111113;
$pearl-white: #fafafa;
$pure-white: #ffffff;
$section-light-bg: #edeeef;

// Dark mode selector
$dark-mode: ':global(body.dark)';

.primary {
  color: $primary;
}

.accent {
  color: $accent;
}

.success {
  color: $success;
}

.info {
  color: $info;
}

.error {
  color: $error;
}

.rich-black {
  color: $rich-black;
}

.pure-black {
  color: $pure-black;
}

.pearl-white {
  color: $pearl-white;
}

.pure-white {
  color: $pure-white;
}
