// @import '../../../styles/index';

.section {
  // a bit wider than $mq-tablet
  --mq-tablet-xl: 820px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 6rem var(--padding-x-body);
  background: var(--accent);

  @media (max-width: var(--mq-tablet-xl)) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  @media (prefers-color-scheme: light) {
    & *::selection {
      background: var(--rich-black);
      color: var(--pearl-white);
    }
  }

  @media (prefers-color-scheme: dark) {
    background: var(--rich-black);
  }

  .texts {
    h2 {
      max-width: 100%;
      color: var(--rich-black);

      @media (min-width: var(--mq-tablet-xl)) {
        max-width: 50%;
      }
      @media (prefers-color-scheme: dark) {
        color: var(--pearl-white);
      }
    }

    .email_link {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: var(--rich-black);
      // @include link_underline(0, $rich-black);

      &:hover {
        color: var(--pearl-white);
      }

      @media (prefers-color-scheme: dark) {
        color: var(--pearl-white);
        // @include link_underline(0, $pearl-white);

        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  .social_links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;

    @media (max-width: var(--mq-tablet-xl)) {
      width: 80%;
      margin-left: 0;
      margin-top: 4rem;
    }

    @media (max-width: var(--mq-phone)) {
      width: 100%;
      margin-left: 0;
    }

    a {
      display: block;
      margin-bottom: 2rem;
      color: var(--rich-black);
      text-decoration: none;
      // @include link_hover(0, $rich-black);

      @media (prefers-color-scheme: dark) {
        color: var(--pearl-white);
        // @include link_hover(0, $pearl-white);
      }
    }
  }
}
