// @import '../../../styles/index';

.container {
  padding: 0 var(--padding-x-body);
  padding-top: 8rem;

  @media (min-width: var(--phone)) {
    width: 50%;

    h1,
    p {
      max-width: 520px;
    }
  }

  h1 {
    margin-bottom: 1rem;
  }

  p {
    // @include text_style('body-lg', 'medium');
    color: var(--rich-black);
  }
}
